In [2]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [3]:
base = sqlite3.connect("../data/checking-logs.sqlite.sqlite_copy")

## analyze only the users and not the admins

In [4]:
table = pd.io.sql.read_sql('''
SELECT
    uid, timestamp
FROM
    checker
WHERE
    uid LIKE 'user_%'
''', base, parse_dates=['timestamp'])
table

         uid                  timestamp
0     user_4 2020-04-17 05:19:02.744528
1     user_4 2020-04-17 05:22:35.249331
2     user_4 2020-04-17 05:22:45.549397
3     user_4 2020-04-17 05:34:14.691200
4     user_4 2020-04-17 05:34:24.422370
...      ...                        ...
3202  user_1 2020-05-21 20:19:06.872761
3203  user_1 2020-05-21 20:22:41.785725
3204  user_1 2020-05-21 20:22:41.877806
3205  user_1 2020-05-21 20:37:00.129678
3206  user_1 2020-05-21 20:37:00.290491

[3207 rows x 2 columns]